__pycache__
.coverage
.DS_Store
.env
.pytest_cache
.python-version
.venv
.vscode
*.code-workspace
*.db
Cargo.lock
dags/.venv
dags/me
dev
etc
front/*.*
front/components.d.ts
front/doc_site
front/node_modules
front/public
front/src
logs
node_modules
package-lock.json
poetry.lock
target
yarn.lock
