__pycache__
.DS_Store
.env
.git
.pytest_cache
.python-version
.venv
.vscode
*.code-workspace
*.db
dags/.venv
dags/me
dev
etc
front/*.*
front/node_modules
front/public
front/src
logs
node_modules
package-lock.json
poetry.lock
