__pycache__
.env
.git
.pytest_cache
.python-version
.venv
*.code-workspace
*.db
/dags/.venv
/dags/plugins.py
/dev
/etc
/front/components.d.ts
/front/doc_site
/front/package-lock.json
/logs
/node_modules
/plugins
/statics
/target
Cargo.lock
package-lock.json
poetry.lock*
